body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --brand-color: #434455;
}

@media screen and (min-width: 428px)  {
    .container {
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
.title-first {
    line-height: 1.17;}
.title-last{line-height: 1.17;
}

.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab.jpg);
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgtab-2x.jpg);
    }
}
.email-footer {
    width: 398px;}
.header-one {font-size: 36px;
max-width: 320px;}

.list-nav-item{
    font-size: 36px;
}
.mob-menu-contact-item-tel{font-size: 36px;}
.mob-menu-contact:not(:last-child) {
    margin-bottom: 40px;
}
 .list-contact {
     margin-bottom: 48px;
}
.mob-menu-list{
justify-content: flex-start;
gap: 56px;
}


.modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
}

.modal-form-title {
    font-size: 16px;
margin-top: 24px;
margin-bottom: 12px;}

.modal-input {height: 35px;}

.online-text {
    height: 120px;}

.submit-button{
            width: 169px;
                height: 56px;
}


}

@media screen and (min-width: 768px) {
.container {
max-width: 768px;
    }

.mob-menu-list {
    display: none;}

.close-btn-menu{
    display: none;
}
.open-btn{display: none;}

.list-nav-desk{
    display: flex;    
    list-style: none;
    gap:40px;
margin-left:120px;}

.list-nav-item{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}


.button-order{
    margin-top: 36px;
}
.header-nav{
    display: flex;
}


.menu{display: flex;
    justify-content: space-between;
}


.list{
    list-style: none;
        display: flex;
        flex-direction: column;
}
.list-contact-item{font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contact-item:not(:last-child){
    margin-bottom: 12px;
}
.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.leptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
padding: 188px 0;}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-officeleptop-2x.jpg);
    }
}

.header-one {
        font-size: 56px;
        line-height: 1.07;
        max-width: 498px;}
.list-item{
    text-align: start;
}




.list-four {
gap: 72px 24px;

    flex-direction: unset;
}
.team-soc-list{
    flex-direction: unset;
}

.customers-item {
    width: 168px;
}
.customers-list {
column-gap: 24px;
flex-direction: unset;


}


.footer-wrapper{
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
gap: 72px 24px;
align-items: start;

}


.section-footer>.footer-wrapper {
    max-width: 584px;}

.title-first{text-align:start}

.first-item-wrapper{
    justify-content: start;
    align-items: start;
}
.second-item-wrapper{
    align-items: flex-start;
    justify-content: start;
    
}

.online-form-title{
    text-align: start;
}

.email-footer{width: 264px;
}

.email-footer-wrapper{
    flex-direction: row;
    gap: 24px;

}

.soc-media-footer{
text-align: start;
}

.online-form-button{
    margin-top: 0;
}
.soc-media-footer{
    margin: top 0;
}
.footer-soc-list{
    flex-direction: row;
    gap: 16px;
}
.list-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 72px 24px;
    max-width: 100%;
}

.list-item-description{
    max-width: 356px;}


 .current {
  position: relative;
        }
    
.current::after {
 position: absolute;
left: 0;
bottom: -34px;
 content: '';
width: 100%;
height: 4px;
background: #404BBF;
border-radius: 2px;
        }
.active{
color: #404BBF;
}
}


@media screen and (min-width: 1158px) {
.section-one{max-width: 1440px}
    .container {
        max-width: 1158px;
    }
.list{
flex-direction: unset;
gap:40px;
align-items: center;}
.list-nav-desk, .list-nav{
    margin-left: 76px;
}
.list-nav{
    gap: 40px;
}
.list-contact-item{
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
.list-contact-item:not(:last-child) {
    margin-bottom: 0;
}

.button-order{
    margin-top: 48px;
}
.current::after {
    bottom: -26px;}

.section-two{
    padding-bottom: 120px;
    padding-top: 120px;
}
.list-two{
    gap:24px;
}

.sec-two-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;}
.list-item-description {
        font-weight: 400;
    width: 264px;
}
.section-three{
    display: flex;
    padding-bottom: 120px;
}
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-four{
    gap: 24px;
        flex-direction: row;
        list-style: none;
}
.section-five{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-footer{
    padding-bottom: 100px;
    padding-top: 100px;
}


.section-footer>.footer-wrapper {
    max-width:1158px;
}

.footer-wrapper{
    gap:unset;
}

.first-item-wrapper{
    margin-right: 120px;
}

.footer-soc-list{
    gap: 16px;
}
.second-item-wrapper{
    margin-right: 80px;
}}





